body {
	position: relative;
	&.home {
		background: linear-gradient(to bottom, rgba(0, 153, 204, 1) 0%, rgba(212, 231, 235, 0) 100%);
		background-image: url('images/homepage_bkg_001.jpg');
		background-repeat: no-repeat;
		// background-size: 100vw 105vh;
		@media(max-width: 1024px) {
			background-size: 100vw 300vh;
		}
	}
	&.footer-form {
		overflow-y: hidden;
		.site {
			overflow-y: hidden;
		}
		.socialbtn {
			margin-top: 0;
		}
	}
}
#wpadminbar {
	background: $color_blue;
}
.home {
	.logo {
		position: absolute;
	}
	.mfp-bg,
	.mfp-wrap {
		width: 100vw;
		height: 100vh;
	}
}
.home-container {
	overflow: hidden;
	width: 100vw;
	height: 357px;
}
.logo {
	top: 1vw;
	width: 20vw;
	min-width: 120px;
	max-width: 270px;
	img {
		max-width: 200px;
		margin: 10px;
	}
	hr {
		margin: 0.5vw 0;
	}
}
.logo h4 {
	font-size: 19px;
	color: #888;
	padding: 0 0 0 1.5vw;
	a {
		color: #888;
	}
}
hr {
	margin-top: 1vw;
	margin-bottom: 0.5vw;
	color: #336699;
	height: 1px;
}
h1 {
	font-size: 2.5vw;
	color: #336699;
}
h6 {
	font-size: 36px;
	color: #00a6e9;
}
h7 {
	font-size: 14px;
	color: #00a6e9;
}
/* homepage conent panel left */

.pnlhome1 {
	position: absolute;
	top: 30vw;
	left: 5%;
	width: 40%;
}
.welcomeicon {
	position: absolute;
	display: inline;
	width: 20%;
	min-width: 60px;
	max-width: 165px;
	top: 65%;
	left: 5%;
}
.headerelement {
	width: 40%;
	max-width: 230px;
	min-width: 100px;
}
.textpnlleft {
	position: absolute;
	font-size: 14px;
	line-height: 0.5;
	left: 30%;
}
/* homepage conent panel right */

.pnlhome2 {
	position: absolute;
	width: 50%;
	top: 30vw;
	left: 52%;
	font-size: 14px;
	padding-bottom: 100px;
	&.ford-sidebar {
		.ford-sidebar__text {
			width: 55%;
			margin-top: 10px;
		}
		.ford-sidebar__item {
			position: relative;
		}
		.ford-sidebar__item h4 a {
			color: #336699;
		}
	}
	.ford-sidebar__content {
		color: #336699;
		img {
			width: 110px;
		}
		p {
			margin-bottom: 0;
		}
	}
	.ford-sidebar__meta {
		color: #00a6e9;
	}
	.ford-sidebar__readmore a {
		font-size: 10px;
		letter-spacing: 2px;
		padding: 8px 15px;
		z-index: 9999;
	}
	@media (max-width: 1024px) {
		.ford-sidebar__meta {
			position: unset;
		}
		&.ford-sidebar .ford-sidebar__item {
			margin-bottom: 20px;
		}
	}
}
.blogicon {
	// position: absolute;
	// width: 20%;
	// min-width: 80px;
	// max-width: 165px;
}
.logo2 {
	max-width: 165px;
}
.textpnlright {
	position: absolute;
	line-height: 55%;
	left: 20%;
	top: 5%;
	width: 40%;
}
.blogpic {
	position: relative;
	max-width: 111px;
	left: 62%;
}
.blogpic img {
	padding-bottom: 40%;
}
.textpnlleft p, .textpnlright p, .textpnlright h4 {
	color: #336699;
}

/* arc slider */

.header {
	position: fixed;
	width: 100%;
	left: 0;
	padding: 0 50px;
	z-index: 9;
}
.header {
	top: 0;
	padding-top: 50px;
	pointer-events: none;
}
.header > * {
	position: relative;
	z-index: 10;
	pointer-events: all;
}
.details {
	position: absolute;
	width: 500px;
	top: 22vw;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}
.details .title {
	margin-bottom: 0;
}
.details .button, .pnlhome1 .button, .pnlhome2 .button {
	background: transparent;
	border: 1px solid #0099ff;
	font-weight: bold;
	min-width: 120px;
	font-size: 10px;
	letter-spacing: 2px;
	margin-top: 1rem;
	z-index: 9999;
	text-transform: uppercase;
}
.details .button:hover, .pnlhome1 .button:hover, .pnlhome2 .button:hover {
	background: #fff;
	color: #222;
}
.svg-mask {
	position: absolute;
}
.featured-slider {
	position: relative;
	margin: 0;
	height: 0;
	width: 0;
	top: 0;
	left: 50%;
}
.featured-slider li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
}
.featured-slider li:not(.active) {
	pointer-events: none;
}
.featured-slider li:nth-child(1) {
	-webkit-transform: translate(-50%, -50%) rotate(0deg);
	transform: translate(-50%, -50%) rotate(0deg);
}
.featured-slider li:nth-child(2) {
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg);
}
.featured-slider li:nth-child(3) {
	-webkit-transform: translate(-50%, -50%) rotate(180deg);
	transform: translate(-50%, -50%) rotate(180deg);
}
.featured-slider li:nth-child(4) {
	-webkit-transform: translate(-50%, -50%) rotate(270deg);
	transform: translate(-50%, -50%) rotate(270deg);
}
.featured-slider li:before {
	width: 40vw;
	height: 40vw;
	-webkit-transform: translate(0%, 46.8%);
	transform: translate(0%, 46.8%);
	content: "";
	-webkit-clip-path: url(#quarterMask);
	clip-path: url(#quarterMask);
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;
	z-index: -1;
}
.featured-slider li .image {
	width: 40vw;
	height: 40vw;
	-webkit-transform: translate(0%, 46.8%);
	transform: translate(0%, 46.8%);
	-webkit-clip-path: url(#quarterMask);
	clip-path: url(#quarterMask);
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	opacity: 0.25;
}
.featured-slider li .image img {
	max-width: none;
	width: 100%;
}
.featured-slider li.active .image {
	opacity: 1;
}
nav {
	position: relative;
	bottom: -18vw;
	left: 50vw;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 100;
	width: 100%;
}
nav .prev, nav .next {
	font-size: 3.5vw;
	background-color: transparent;
	padding: 0.25rem 0.5rem;
	color: #336699;
}
nav .prev {
	position: relative;
	float: left;
	top: 5vw;
	left: 28vw;
	text-shadow: 2px 2px 5px #666;
}
nav .next {
	position: relative;
	float: right;
	top: 5vw;
	right: 28vw;
	text-shadow: 2px 2px 5px #666;
}
#wheel-border {
	position: absolute;
	z-index: -1;
	width: 56.5vw;
	height: 56.5vw;
	left: 50%;
	top: 0;
	border-radius: 100%;
	border: 15.25vw solid white;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0px 10px 30px #000;
}
/* Circular nav */
.container {
	// overflow: hidden;
	// width: 100vw;
	// height: 357px;
	// align: right;
	width: 100%;
}
.icon-nav {
	position: absolute;
	top: 67%;
	left: 40%;
	transform: translateX(-50%) translateY(-50%);
}
.hamburger-nav {
	content: ' ';
	position: relative;
	width: 20px;
	border: 2px solid #fff;
	border-radius: 5px;
	transition: all 0.333333333333333s ease;
}
.hamburger-nav:after, .hamburger-nav:before {
	content: ' ';
	position: absolute;
	left: 50%;
	width: 100%;
	border: 2px solid #fff;
	border-radius: 5px;
	transform: translateX(-50%);
	transition-property: top, bottom, transform;
	transition-duration: 1s, 1s, 0.25s;
}
.hamburger-nav:after {
	top: -8px;
}
.hamburger-nav:before {
	bottom: -8px;
}
.menu {
	pointer-events: none;
}
.menu--circle {
	width: 243.33333333333334px;
	height: auto;
}
.home .menu--circle {
	height: 243.33333333333334px;
	position: absolute;
	z-index: 13;
	background-color: rgba(255, 255, 255, 0);
	overflow: hidden;
	right: 0%;
	top: 0px;
}
.menu__active {
	position: absolute;
}
.menu__toggle {
	z-index: 11;
	position: absolute;
	top: -80px;
	right: -320px;
	width: 200px;
	height: 200px;
	background-color: #0089d0;
	border-radius: 50%;
	transition: transform 1.3s;
	cursor: pointer;
	pointer-events: auto;
}
.menu__listings {
	z-index: 1;
	position: absolute;
	top: -180px;
	right: -430px;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	transform: scale(0.1) rotate(150deg);
	transition: transform 1s;
}
input [type="radio"] {
	display: none;
}
[name="arrow--up"] {
	display: none;
	position: fixed;
}
.menu__arrow {
	visibility: hidden;
	position: absolute;
}
.menu__arrow input[type="radio"] {
	position: fixed;
	top: -9999px;
	left: -9999px;
	display: none;
}
.menu__arrow ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.menu__arrow--top {
	top: 1.5em;
	left: 0.1em;
}
.menu__arrow--top .arrow {
	transform: rotate(-45deg);
}
.menu__arrow--left {
	top: 220px;
	left: 0.5em;
}
.menu__arrow--left .arrow {
	transform: rotate(-135deg);
}
.arrow {
	width: 20px;
	height: 20px;
	border-right: 6.666666666666667px solid #0089d0;
	border-top: 6.666666666666667px solid #0089d0;
	border-radius: 3px;
	transition: border-color 0.3s;
	cursor: pointer;
	pointer-events: auto;
}
.arrow:hover {
	border-color: #003366;
	transition: border-color 0.3s;
}
.circle {
	position: relative;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #006699;
	border-radius: 50%;
	transform: rotate(304deg);
	overflow: hidden;
	list-style: none;
}
.circle li {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
	transform-origin: 0 100%;
}
.circle li .placeholder {
	position: absolute;
	left: -100%;
	padding-top: 1.5em;
	width: 200%;
	height: 200%;
	text-align: center;
	transform: skewY(54deg) rotate(18deg);
}
.circle li .placeholder .upside {
	transform: rotate(180deg);
}
.circle li .placeholder a {
	text-decoration: none;
	pointer-events: auto;
}
.circle li .placeholder button-nav {
	pointer-events: auto;
}
.circle li .placeholder .button-nav {
	font-size: 2.3em;
	background-color: transparent;
	border: none;
	color: #99ccff;
	cursor: pointer;
}
.circle li:nth-child(1) {
	transform: rotate(0deg) skewY(-54deg);
	background-color: #006699;
}
.circle li:nth-child(2) {
	transform: rotate(36deg) skewY(-54deg);
	background-color: #006699;
}
.circle li:nth-child(3) {
	transform: rotate(72deg) skewY(-54deg);
	background-color: #006699;
}
.circle li:nth-child(4) {
	transform: rotate(108deg) skewY(-54deg);
	background-color: #006699;
}
.circle li:nth-child(5) {
	transform: rotate(144deg) skewY(-54deg);
	background-color: #006699;
}
.circle li:nth-child(6) {
	transform: rotate(180deg) skewY(-54deg);
	background-color: #006699;
}
.circle li:nth-child(7) {
	transform: rotate(216deg) skewY(-54deg);
	background-color: #006699;
}
.circle li:nth-child(8) {
	transform: rotate(252deg) skewY(-54deg);
	background-color: #006699;
}
.circle li:nth-child(9) {
	transform: rotate(288deg) skewY(-54deg);
	background-color: #006699;
}
.circle li:nth-child(10) {
	transform: rotate(324deg) skewY(-54deg);
	background-color: #006699;
}
#menu__active {
	position: fixed;
	top: -99999px;
	right: -99999px;
	opacity: 0;
}
#menu__active:checked ~ label .menu__listings {
	transform: rotate(10deg) scale(1);
	transition: transform 1s;
}
#menu__active:checked ~ label .menu__toggle {
	background-color: #99ccff;
	transition: all 1s;
}
#menu__active:checked ~ label .hamburger-nav {
	border-color: transparent;
	transition: border-color 0.333333333333333s;
}
#menu__active:checked ~ label .hamburger-nav:after {
	top: -2px;
	border-color: #fff;
	transform: translateX(-50%) rotate(45deg);
	transition-property: top, transform;
	transition-duration: 0.25s, 1s;
}
#menu__active:checked ~ label .hamburger-nav:before {
	bottom: -2px;
	border-color: #fff;
	transform: translateX(-50%) rotate(-45deg);
	transition-property: bottom, transform;
	transition-duration: 0.25s, 1s;
}
#menu__active:checked ~ label .button-nav:hover {
	color: #fff;
}
#menu__active:checked ~ label .menu__arrow {
	visibility: visible;
	transition: all 1s 1.111111111111111s;
}
#menu__active:checked ~ label .menu__arrow--top label {
	display: none;
}
#menu__active:checked ~ label .menu__arrow--top label[for="degree--up-0"] {
	display: block;
}
#menu__active:checked ~ label #degree--up-0:checked ~ .menu__listings {
	transform: rotate(116deg);
}
#menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label {
	display: none;
}
#menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label[for="degree--up-1"] {
	display: block;
}
#menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings {
	transform: rotate(224deg);
}
#menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label {
	display: none;
}
#menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label[for="degree--up-2"] {
	display: block;
}
/* content page */

.container-nav {
	background-image: url("../images/page_mock_up.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	overflow: hidden;
	width: 100%;
	height: 4100px;
	align: right;
}

/* footer */

.footer {
	position: fixed;
	bottom: 0px;
	height: 83px;
	overflow: hidden;
	width: 100vw;
	z-index: 999;
}
.btnbar {
	position: absolute;
	// left: 46vw;
	left: 50%;
	transform: translate(-50%, 0);
}
.btnbar i {
	position: absolute;
	left: 52px;
	top: 58%;
	font-size: 32px;
	color: #0089d0;
}
.btnbar i:hover {
	color: #99ffff;
}
.bluelines {
	background-image: url('images/blue_lines_footer.png');
	background-repeat: no-repeat;
	height: 83px;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999; /* Sit on top */
	top: 0; /* Location of the box */
	left: 0;
	width: 100%; /* Full width */
	width: 100vw;
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
}
/* Modal Content */
.modal-content {
	position: fixed;
	bottom: 0;
	width: 100%;
	width: 100vw;
	// height: 53%;
	background-image: url('images/footer_modal_bkg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
}
.addtxt {
	position: relative;
	margin-left: 24vw;
	margin-top: 45px;
	width: 50vw;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	min-height: 450px;
	.address {
		display: flex;
		flex-wrap: wrap;
	}
}
.addtxt--left {
	width: 40%;
}
.addtxt--right {
	width: 60%;
	.entry-form {
		padding-top: 20px;
		margin: 0;
		padding: 0;
		width: 100%;
		top: 0;
		color: #fff;
		.rwmb-button {
			padding: 6px 24px;
			color: #fff;
			font-weight: 400;
		}
		.company {
			display: none !important;
		}
		.radio_roles {
			top: 0;
		}
		h3 {
			color: #fff;
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 0;
		}
		.rwmb-input input {
			font-size: 14px;
		}
		#register-form {
			padding-top: 40px;
			.rwmb-button-wrapper {
				bottom: -10px;
			}
		}
		#user_pass-description {
			display: none;
		}
		.rwmb-meta-box[data-object-type='user'] .rwmb-field:last-child {
			// display: none;
		}
		.checkbox-form {
			ul li {
				width: 100%;
			}
		}
	}
	.rwmb-form-submit {
		padding: 0;
	}
}

.copy-right {
	position: absolute;
	color: #fff;
	float: left;
	right: 10vw;
	font-size: 14px;
	font-weight: 300;
	bottom: 11px;
	z-index: 999;
	a {
		color: #fff;
		&:hover {
			color: $color_blue2;
		}
	}
}

.modal-content .address {
	p {
		font-size: 10px;
	}
}
.socialbtn {
	margin-top: 15%;
	margin-left: -18px;
	padding-bottom: 15px;
}
.addtxt1 {
	width: 50%;
}
.addtxt1 h5, .addtxt2 h5 {
	color: #fff;
	font-size: 12px;
	font-weight: 800;
}
.addtxt2 {
	width: 50%;
}
.addtxt3 {
	width: 100%;
	text-align: center;
	margin-top: 15px;
}
.modal-content p {
	color: #fff;
}
.modal-content i {
	color: #fff;
	font-size: 48px;
	padding-left: 20px;
}
.calogo {
	max-width: 155px;
}

/* The Close Button */
.close-btn {
	position: absolute;
	color: #fff;
	float: left;
	left: 10vw;
	font-size: 36px;
	font-weight: bold;
	bottom: 0;
	z-index: 999;
	cursor: pointer;
}
.close p {
	position: absolute;
	font-size: 14px;
	top: 15px;
	left: 25px;
}
.close:hover, .close:focus, .close p:hover, .close p:focus {
	color: #0089d0;
	text-decoration: none;
	cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0
	}
	to {
		bottom: 0;
		opacity: 1
	}
}
@keyframes slideIn {
	from {
		bottom: -300px;
		opacity: 0
	}
	to {
		bottom: 0;
		opacity: 1
	}
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@media(max-width: 1600px) {
	.addtxt {
		margin-top: 75px;
		margin-bottom: 20px;
	}
	.addtxt--left {
		width: 50%;
	}
	.addtxt--right {
		width: 50%;
		.entry-form {
			h3 {
				font-size: 20px;
			}
			.rwmb-input input {
				font-size: 12px;
			}
			.rwmb-field:not(:last-of-type) {
				margin: 0 0 5px;
			}
			.rwmb-meta-box {
				margin-bottom: 5px;
			}
			.rwmb-input-list label {
				font-size: 9px;
			}
			.rwmb-button {
				font-size: 14px;
				padding: 5px 20px;
			}
			#user_pass-description {
				display: none;
			}
		}
	}
	.copy-right {
		left: 50%;
		right: unset;
		transform: translate(-50%, 0);
	}
}

@media screen and (max-width: 968px) {
	body {
		-webkit-background-size: 100vw 280vh;
		background-size: 100vw 280vh;
	}
	h1 {
		font-size: 8vw;
		color: #336699;
	}
	hr {
		margin-bottom: 0.75vw;
	}
	.home-wrapper {
		position: relative;
		overflow-x: hidden;
		height: 100%;
	}
	.details {
		top: 500px;
		.title {
			font-size: 6vw;
		}
	}
	.featured-slider li:before {
		width: 800px;
		height: 800px;
	}
	.featured-slider li .image {
		width: 800px;
		height: 800px;
	}
	#wheel-border {
		width: 1130px;
		height: 1130px;
		border: 305px solid white;
	}
	.home .logo {
		left: 50%;
		transform: translate( -50%, 0 );
		width: auto;
		h4, hr {
			display: none;
		}
	}
	.logo h4 {
		font-size: 13px;
		color: #888;
	}
	nav {
		bottom: -45vw;
	}
	nav .prev, nav .next {
		font-size: 5vw;
		top: 22vw;
	}
	.bodypanel {
		position: absolute;
		top: 400px;
		height: 1200px;
	}
	.pnlhome1 {
		position: absolute;
		top: 30vw;
		left: 5px;
		width: 95%;
		overflow: visible;
	}
	.pnlhome2 {
		position: relative;
		width: 95%;
		left: 5px;
		font-size: 14px;
		top: 50%;
		&.ford-sidebar .ford-sidebar__text {
			position: absolute;
			left: 30%;
			margin: 0;
			width: auto;
		}
	}

	.copy-right {
		left: 10vw;
		transform: unset;
	}

	.logo2 {
		width: 20%;
		position: absolute;
		left: 5%;
	}
	.modal-content {
		background: #005aab;
		overflow-y: auto;
		.addtxt--left {
			margin: 0 auto 20px;
		}
		.address {
			display: flex;
			flex-flow: wrap;
			justify-content: center;
			p {
				font-size: 10px;
			}
		}
		.addtxt1,
		.addtxt2 {
			h5 {
				font-size: 11px;
			}
		}
		.addtxt1 {
			width: 50%;
			margin-top: 0;
		}
		.addtxt2 {
			width: 50%;
			margin-top: 0;
		}
	}
	.socialbtn {
		margin-left: -18px;
		margin-bottom: 10px;
	}
	.calogo {
		margin-left: -10px;
	}
	.addtxt {
		margin: 0;
		padding: 20px;
		width: 100%;
	}
	.addtxt2 {
		margin-top: 40px;
		margin-left: -3px;
	}
	.addtxt--right {
		// width: 100%;
		.entry-form .rwmb-meta-box {
			// margin-bottom: 15px;
		}
	}
	.close-btn {
		right: 50px;
		left: unset;
	}
}

@media(max-width: 800px) {
	nav .prev, nav .next {
		top: 27vw;
	}
}

@media(max-width: 767px) {
	.logo img {
		max-width: 180px;
	}
	.home .logo img {
		max-width: 130px;
	}
	.bodypanel {
		top: 540px;
	}
	nav .prev, nav .next {
		top: 5vw;
	}
}
@media (max-width: 500px) {
	.home .logo {
		left: unset;
		transform: unset;
		width: 15vw;
		h4, hr {
			display: none;
		}
	}
	.modal-content {
		position: unset;
		height: 100%;
		.addtxt--left,
		.addtxt--right {
			width: 100%;
		}
	}
	.pnlhome2 {
		top: 43%;
	}
}