/**
 * Editor style
 * -----------------------------------------------------------------------------
 */
.wp-block {
	max-width: 771px;
}
.wp-block[data-align="wide"] {
	max-width: 1170px;
}
.wp-block[data-align="full"] {
	max-width: none;
}
.background-button {
	background-color: unset;
	background-repeat: no-repeat;
	min-height: 101px;
	background-size: unset;
	height: auto;
	cursor: pointer;
}
.background-button a {
	color: #fff;
}

.button-bg {
	background-image: url('images/btn_candidate_res_001.png');
	background-position: 0% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}
.button-bg.dark-blue {
	background-image: url('images/btn_candidate_res_002.png');
}
.button-bg .wp-block-button__link {
	padding: 37px 55px 37px 110px;
	background-color: unset;
}

.new-button {
	position: relative;
	height: 100px;
	width: 100%;
}
.new-button .wp-block-button__link {
	padding-left: 110px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 99px;
}
.new-button::before {
	content: '';
	background-image: url('images/Untitled-1.png');
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	position: absolute;
	border-radius: 50%;
}
.new-button.dark-blue:before {
	background-image: url('images/Untitled-2.png');
}