.main_header {
	position: relative;
	display: flex;
	justify-content: space-between;
	background: url( 'images/masthead_blog_001.jpg' );
	height: 350px;
	.blog & {
		background: url( 'images/masthead_blog_001.jpg' );
	}
}
.nav-bar {
	display: flex;
	flex-flow: row wrap;
	top: -50px;
	font-weight: 900;
	padding: 13px 0;
	position: relative;
	// background: #ededed;
	color: #999999;
	a {
		color: #999999;
	}
	.nav-bar--left {
		width: 66.667%;
		padding-right: 50px;
		text-align: right;
		text-transform: uppercase;
	}
	.nav-bar--right {
		width: 33.33%;
	}
}
@media(max-width: 1024px) {
	.nav-bar {
		font-size: 12px;
	}
}
@media(max-width: 991px) {
	.nav-bar {
		padding: 20px;
		top: 0;
		font-size: 14px;
		top: -65px;
		.nav-bar--left,
		.nav-bar--right {
			width: 100%;
			text-align: left;
		}
	}
}
@media(max-width: 767px) {
	.nav-bar {
		padding: 20px;
		font-size: 11px;
		top: -60px;
	}
}