.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	.widget-title {
		font-size: 20px;
		color: $color_blue;
	}
	a {
		color: $color_blue2;
	}
}

.widget-area {
	.widget {
		position: relative;
		padding: 45px 0 65px;
		margin: 0;
		&:after {
			content: url( 'images/column_divider_001.png' );
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
		}
		&:first-child {
			padding-top: 0;
		}
	}
	.widget_categories,
	.widget_archive {
		&.widget_categories_new,
		&.widget_archive_new {
			img {
				position: absolute;
				width: 70px;
			}
		}
		&.widget_categories_new:before,
		&.widget_archive_new:before {
			display: none;
		}
		&:before {
			content: url( 'images/archive_icon_sm_001.png' );
			position: absolute;
		}
		.widget-title {
			margin-left: 120px;
		}
		ul {
			margin-left: 120px;
			list-style: none;
		}
	}
	.widget_categories_new,
	.widget_archive_new {
		.ford-sidebar__icon {
			margin: 0;
			width: 100px;
		}
	}
	.ford-recent-posts {
		.widget-title {
			margin-bottom: 30px;
		}
	}
}

// Widget info.
.ford-sidebar {
	display: flex;

	.logo-title {
		width: 100px;
	}
	.ford-sidebar__text {
		width: 75%;
		margin-left: 20px;
		.btn-main.popup-form {
			padding: 10px 20px;
		}
	}
	.ford-sidebar__icon {
		width: 100px;
		text-align: center;
		img {
			width: 70px;
		}
	}
}

// Ford sidebar item.
.ford-sidebar__item {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	h4 {
		font-size: 20px;
		color: $color_blue2;
		img {
			display: none;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	.ford-sidebar__content {
		width: 72%;
		font-size: 14px;
		p {
			font-size: 14px;
			padding-right: 15px;
			margin-bottom: 10px;
		}
	}
	.ford-sidebar__meta {
		position: absolute;
		padding-right: 15px;
		color: #00a6e9;
		display: flex;
		justify-content: space-between;
		.posted-on {
			padding-right: 15px;
		}
	}
	.ford-sidebar__img {
		img {
			width: 110px;
		}
	}
}

.ford-sidebar__readmore {
	text-align: right;
	margin-top: 50px;
	a {
		background-color: unset;
		color: #336699;
		border: 1px solid #00a6e9;
		text-transform: uppercase;
		font-weight: 700;
		padding: 10px 34px;
		font-size: 14px;
	}
}


.ford-sidebar__submit {
	text-align: right;
	margin-top: 50px;
}

@media(max-width: 1439px) {
	// .widget-area .ford-recent-posts .ford-sidebar__meta {
	// 	top: -25px;
	// 	font-size: 14px;
	// }
}

@media(max-width: 1099px) {

}

@media(max-width: 991px) {
	.widget-area {
		.widget {
			padding: 30px 0 65px;
		}
	}
	.ford-sidebar {
		.ford-sidebar__img img {
			display: none;
		}
		.ford-sidebar__content {
			width: 100%;
		}
	}
}
@media (max-width: 767px) {
	.widget-area .ford-recent-posts .ford-sidebar__meta {
		width: 100%;
	}
	.ford-sidebar .ford-sidebar__item h4 {
		width: 100%;
	}
}