// @charset "UTF-8";/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
button, img, legend {
	border: 0
}
body, button, legend {
	padding: 0
}
.button.dropdown::after, .small-pull-1, .small-pull-10, .small-pull-11, .small-pull-2, .small-pull-3, .small-pull-4, .small-pull-5, .small-pull-6, .small-pull-7, .small-pull-8, .small-pull-9, .small-push-1, .small-push-10, .small-push-11, .small-push-2, .small-push-3, .small-push-4, .small-push-5, .small-push-7, .small-push-8, .small-push-9, sub, sup {
	position: relative
}
h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility
}
.dropdown-pane, .invisible {
	visibility: hidden
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
a:active, a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, optgroup, strong {
	font-weight: 700
}
dfn {
	font-style: italic
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}
.button, img {
	vertical-align: middle
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
.orbit-caption, .sticky.is-anchored.is-at-bottom, .sticky.is-stuck.is-at-bottom {
	bottom: 0
}
img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	display: inline-block
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
pre, textarea {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
a, b, em, i, small, strong {
	line-height: inherit
}
dl, ol, p, ul {
	line-height: 1.6
}
button, select {
	text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input {
	line-height: normal
}
input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
height:auto
}
input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
.foundation-mq {
	font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"
}
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: 400
}
html {
	font-size: 100%;
	box-sizing: border-box
}
*, :after, :before {
	box-sizing: inherit
}
body {
	margin: 0;
	line-height: 1.5;
	color: #0a0a0a;
	background: #fefefe;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
select {
	width: 100%
}
#map_canvas embed, #map_canvas img, #map_canvas object, .map_canvas embed, .map_canvas img, .map_canvas object, .mqa-display embed, .mqa-display img, .mqa-display object {
	max-width: none!important
}
button {
	overflow: visible;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: 0 0;
	border-radius: 0;
	line-height: 1
}
.row {
	max-width: 75rem;
	margin-left: auto;
	margin-right: auto
}
.row::after, .row::before {
	content: ' ';
	display: table
}
.row::after {
	clear: both
}
.row.collapse>.column, .row.collapse>.columns {
	padding-left: 0;
	padding-right: 0
}
.row .row {
	margin-left: -.625rem;
	margin-right: -.625rem
}

@media screen and (min-width:40em) {
.row .row {
	margin-left: -.9375rem;
	margin-right: -.9375rem
}
}
.row .row.collapse {
	margin-left: 0;
	margin-right: 0
}
.row.expanded {
	max-width: none
}
.column, .columns {
	padding-left: .625rem;
	padding-right: .625rem;
	width: 100%;
	float: left
}

@media screen and (min-width:40em) {
.column, .columns {
	padding-left: .9375rem;
	padding-right: .9375rem
}
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
	float: right
}
.column.end:last-child:last-child, .end.columns:last-child:last-child {
	float: left
}
.column.row.row, .row.row.columns {
	float: none
}
.row .column.row.row, .row .row.row.columns {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0
}
.small-1 {
	width: 8.33333%
}
.small-push-1 {
	left: 8.33333%
}
.small-pull-1 {
	left: -8.33333%
}
.small-offset-0 {
	margin-left: 0
}
.small-2 {
	width: 16.66667%
}
.small-push-2 {
	left: 16.66667%
}
.small-pull-2 {
	left: -16.66667%
}
.small-offset-1 {
	margin-left: 8.33333%
}
.small-3 {
	width: 25%
}
.small-push-3 {
	left: 25%
}
.small-pull-3 {
	left: -25%
}
.small-offset-2 {
	margin-left: 16.66667%
}
.small-4 {
	width: 33.33333%
}
.small-push-4 {
	left: 33.33333%
}
.small-pull-4 {
	left: -33.33333%
}
.small-offset-3 {
	margin-left: 25%
}
.small-5 {
	width: 41.66667%
}
.small-push-5 {
	left: 41.66667%
}
.small-pull-5 {
	left: -41.66667%
}
.small-offset-4 {
	margin-left: 33.33333%
}
.small-6 {
	width: 50%
}
.small-push-6 {
	position: relative;
	left: 50%
}
.small-pull-6 {
	left: -50%
}
.small-offset-5 {
	margin-left: 41.66667%
}
.small-7 {
	width: 58.33333%
}
.small-push-7 {
	left: 58.33333%
}
.small-pull-7 {
	left: -58.33333%
}
.small-offset-6 {
	margin-left: 50%
}
.small-8 {
	width: 66.66667%
}
.small-push-8 {
	left: 66.66667%
}
.small-pull-8 {
	left: -66.66667%
}
.small-offset-7 {
	margin-left: 58.33333%
}
.small-9 {
	width: 75%
}
.small-push-9 {
	left: 75%
}
.small-pull-9 {
	left: -75%
}
.small-offset-8 {
	margin-left: 66.66667%
}
.small-10 {
	width: 83.33333%
}
.small-push-10 {
	left: 83.33333%
}
.small-pull-10 {
	left: -83.33333%
}
.small-offset-9 {
	margin-left: 75%
}
.small-11 {
	width: 91.66667%
}
.small-push-11 {
	left: 91.66667%
}
.small-pull-11 {
	left: -91.66667%
}
.small-offset-10 {
	margin-left: 83.33333%
}
.small-12 {
	width: 100%
}
.small-offset-11 {
	margin-left: 91.66667%
}
.small-up-1>.column, .small-up-1>.columns {
	width: 100%;
	float: left
}
.small-up-1>.column:nth-of-type(1n), .small-up-1>.columns:nth-of-type(1n) {
	clear: none
}
.small-up-1>.column:nth-of-type(1n+1), .small-up-1>.columns:nth-of-type(1n+1) {
	clear: both
}
.small-up-1>.column:last-child, .small-up-1>.columns:last-child {
	float: left
}
.small-up-2>.column, .small-up-2>.columns {
	width: 50%;
	float: left
}
.small-up-2>.column:nth-of-type(1n), .small-up-2>.columns:nth-of-type(1n) {
	clear: none
}
.small-up-2>.column:nth-of-type(2n+1), .small-up-2>.columns:nth-of-type(2n+1) {
	clear: both
}
.small-up-2>.column:last-child, .small-up-2>.columns:last-child {
	float: left
}
.small-up-3>.column, .small-up-3>.columns {
	width: 33.33333%;
	float: left
}
.small-up-3>.column:nth-of-type(1n), .small-up-3>.columns:nth-of-type(1n) {
	clear: none
}
.small-up-3>.column:nth-of-type(3n+1), .small-up-3>.columns:nth-of-type(3n+1) {
	clear: both
}
.small-up-3>.column:last-child, .small-up-3>.columns:last-child {
	float: left
}
.small-up-4>.column, .small-up-4>.columns {
	width: 25%;
	float: left
}
.small-up-4>.column:nth-of-type(1n), .small-up-4>.columns:nth-of-type(1n) {
	clear: none
}
.small-up-4>.column:nth-of-type(4n+1), .small-up-4>.columns:nth-of-type(4n+1) {
	clear: both
}
.small-up-4>.column:last-child, .small-up-4>.columns:last-child {
	float: left
}
.small-up-5>.column, .small-up-5>.columns {
	width: 20%;
	float: left
}
.small-up-5>.column:nth-of-type(1n), .small-up-5>.columns:nth-of-type(1n) {
	clear: none
}
.small-up-5>.column:nth-of-type(5n+1), .small-up-5>.columns:nth-of-type(5n+1) {
	clear: both
}
.small-up-5>.column:last-child, .small-up-5>.columns:last-child {
	float: left
}
.small-up-6>.column, .small-up-6>.columns {
	width: 16.66667%;
	float: left
}
.small-up-6>.column:nth-of-type(1n), .small-up-6>.columns:nth-of-type(1n) {
	clear: none
}
.small-up-6>.column:nth-of-type(6n+1), .small-up-6>.columns:nth-of-type(6n+1) {
	clear: both
}
.small-up-6>.column:last-child, .small-up-6>.columns:last-child {
	float: left
}
.small-up-7>.column, .small-up-7>.columns {
	width: 14.28571%;
	float: left
}
.small-up-7>.column:nth-of-type(1n), .small-up-7>.columns:nth-of-type(1n) {
	clear: none
}
.small-up-7>.column:nth-of-type(7n+1), .small-up-7>.columns:nth-of-type(7n+1) {
	clear: both
}
.small-up-7>.column:last-child, .small-up-7>.columns:last-child {
	float: left
}
.small-up-8>.column, .small-up-8>.columns {
	width: 12.5%;
	float: left
}
.small-up-8>.column:nth-of-type(1n), .small-up-8>.columns:nth-of-type(1n) {
	clear: none
}
.small-up-8>.column:nth-of-type(8n+1), .small-up-8>.columns:nth-of-type(8n+1) {
	clear: both
}
.small-up-8>.column:last-child, .small-up-8>.columns:last-child {
	float: left
}
.small-collapse>.column, .small-collapse>.columns {
	padding-left: 0;
	padding-right: 0
}
.small-uncollapse>.column, .small-uncollapse>.columns {
	padding-left: .625rem;
	padding-right: .625rem
}
.small-centered {
	float: none;
	margin-left: auto;
	margin-right: auto
}
.small-pull-0, .small-push-0, .small-uncentered {
	position: static;
	margin-left: 0;
	margin-right: 0
}

@media screen and (min-width:40em) {
.medium-pull-1, .medium-pull-10, .medium-pull-11, .medium-pull-2, .medium-pull-3, .medium-pull-4, .medium-pull-5, .medium-pull-6, .medium-pull-7, .medium-pull-8, .medium-pull-9, .medium-push-1, .medium-push-10, .medium-push-11, .medium-push-2, .medium-push-3, .medium-push-4, .medium-push-5, .medium-push-7, .medium-push-8, .medium-push-9 {
	position: relative
}
.medium-1 {
	width: 8.33333%
}
.medium-push-1 {
	left: 8.33333%
}
.medium-pull-1 {
	left: -8.33333%
}
.medium-offset-0 {
	margin-left: 0
}
.medium-2 {
	width: 16.66667%
}
.medium-push-2 {
	left: 16.66667%
}
.medium-pull-2 {
	left: -16.66667%
}
.medium-offset-1 {
	margin-left: 8.33333%
}
.medium-3 {
	width: 25%
}
.medium-push-3 {
	left: 25%
}
.medium-pull-3 {
	left: -25%
}
.medium-offset-2 {
	margin-left: 16.66667%
}
.medium-4 {
	width: 33.33333%
}
.medium-push-4 {
	left: 33.33333%
}
.medium-pull-4 {
	left: -33.33333%
}
.medium-offset-3 {
	margin-left: 25%
}
.medium-5 {
	width: 41.66667%
}
.medium-push-5 {
	left: 41.66667%
}
.medium-pull-5 {
	left: -41.66667%
}
.medium-offset-4 {
	margin-left: 33.33333%
}
.medium-6 {
	width: 50%
}
.medium-push-6 {
	position: relative;
	left: 50%
}
.medium-pull-6 {
	left: -50%
}
.medium-offset-5 {
	margin-left: 41.66667%
}
.medium-7 {
	width: 58.33333%
}
.medium-push-7 {
	left: 58.33333%
}
.medium-pull-7 {
	left: -58.33333%
}
.medium-offset-6 {
	margin-left: 50%
}
.medium-8 {
	width: 66.66667%
}
.medium-push-8 {
	left: 66.66667%
}
.medium-pull-8 {
	left: -66.66667%
}
.medium-offset-7 {
	margin-left: 58.33333%
}
.medium-9 {
	width: 75%
}
.medium-push-9 {
	left: 75%
}
.medium-pull-9 {
	left: -75%
}
.medium-offset-8 {
	margin-left: 66.66667%
}
.medium-10 {
	width: 83.33333%
}
.medium-push-10 {
	left: 83.33333%
}
.medium-pull-10 {
	left: -83.33333%
}
.medium-offset-9 {
	margin-left: 75%
}
.medium-11 {
	width: 91.66667%
}
.medium-push-11 {
	left: 91.66667%
}
.medium-pull-11 {
	left: -91.66667%
}
.medium-offset-10 {
	margin-left: 83.33333%
}
.medium-12 {
	width: 100%
}
.medium-offset-11 {
	margin-left: 91.66667%
}
.medium-up-1>.column, .medium-up-1>.columns {
	width: 100%;
	float: left
}
.medium-up-1>.column:nth-of-type(1n), .medium-up-1>.columns:nth-of-type(1n) {
	clear: none
}
.medium-up-1>.column:nth-of-type(1n+1), .medium-up-1>.columns:nth-of-type(1n+1) {
	clear: both
}
.medium-up-1>.column:last-child, .medium-up-1>.columns:last-child {
	float: left
}
.medium-up-2>.column, .medium-up-2>.columns {
	width: 50%;
	float: left
}
.medium-up-2>.column:nth-of-type(1n), .medium-up-2>.columns:nth-of-type(1n) {
	clear: none
}
.medium-up-2>.column:nth-of-type(2n+1), .medium-up-2>.columns:nth-of-type(2n+1) {
	clear: both
}
.medium-up-2>.column:last-child, .medium-up-2>.columns:last-child {
	float: left
}
.medium-up-3>.column, .medium-up-3>.columns {
	width: 33.33333%;
	float: left
}
.medium-up-3>.column:nth-of-type(1n), .medium-up-3>.columns:nth-of-type(1n) {
	clear: none
}
.medium-up-3>.column:nth-of-type(3n+1), .medium-up-3>.columns:nth-of-type(3n+1) {
	clear: both
}
.medium-up-3>.column:last-child, .medium-up-3>.columns:last-child {
	float: left
}
.medium-up-4>.column, .medium-up-4>.columns {
	width: 25%;
	float: left
}
.medium-up-4>.column:nth-of-type(1n), .medium-up-4>.columns:nth-of-type(1n) {
	clear: none
}
.medium-up-4>.column:nth-of-type(4n+1), .medium-up-4>.columns:nth-of-type(4n+1) {
	clear: both
}
.medium-up-4>.column:last-child, .medium-up-4>.columns:last-child {
	float: left
}
.medium-up-5>.column, .medium-up-5>.columns {
	width: 20%;
	float: left
}
.medium-up-5>.column:nth-of-type(1n), .medium-up-5>.columns:nth-of-type(1n) {
	clear: none
}
.medium-up-5>.column:nth-of-type(5n+1), .medium-up-5>.columns:nth-of-type(5n+1) {
	clear: both
}
.medium-up-5>.column:last-child, .medium-up-5>.columns:last-child {
	float: left
}
.medium-up-6>.column, .medium-up-6>.columns {
	width: 16.66667%;
	float: left
}
.medium-up-6>.column:nth-of-type(1n), .medium-up-6>.columns:nth-of-type(1n) {
	clear: none
}
.medium-up-6>.column:nth-of-type(6n+1), .medium-up-6>.columns:nth-of-type(6n+1) {
	clear: both
}
.medium-up-6>.column:last-child, .medium-up-6>.columns:last-child {
	float: left
}
.medium-up-7>.column, .medium-up-7>.columns {
	width: 14.28571%;
	float: left
}
.medium-up-7>.column:nth-of-type(1n), .medium-up-7>.columns:nth-of-type(1n) {
	clear: none
}
.medium-up-7>.column:nth-of-type(7n+1), .medium-up-7>.columns:nth-of-type(7n+1) {
	clear: both
}
.medium-up-7>.column:last-child, .medium-up-7>.columns:last-child {
	float: left
}
.medium-up-8>.column, .medium-up-8>.columns {
	width: 12.5%;
	float: left
}
.medium-up-8>.column:nth-of-type(1n), .medium-up-8>.columns:nth-of-type(1n) {
	clear: none
}
.medium-up-8>.column:nth-of-type(8n+1), .medium-up-8>.columns:nth-of-type(8n+1) {
	clear: both
}
.medium-up-8>.column:last-child, .medium-up-8>.columns:last-child {
	float: left
}
.medium-collapse>.column, .medium-collapse>.columns {
	padding-left: 0;
	padding-right: 0
}
.medium-uncollapse>.column, .medium-uncollapse>.columns {
	padding-left: .9375rem;
	padding-right: .9375rem
}
.medium-centered {
	float: none;
	margin-left: auto;
	margin-right: auto
}
.medium-pull-0, .medium-push-0, .medium-uncentered {
	position: static;
	margin-left: 0;
	margin-right: 0
}
}

@media screen and (min-width:64em) {
.large-pull-1, .large-pull-10, .large-pull-11, .large-pull-2, .large-pull-3, .large-pull-4, .large-pull-5, .large-pull-6, .large-pull-7, .large-pull-8, .large-pull-9, .large-push-1, .large-push-10, .large-push-11, .large-push-2, .large-push-3, .large-push-4, .large-push-5, .large-push-7, .large-push-8, .large-push-9 {
	position: relative
}
.large-1 {
	width: 8.33333%
}
.large-push-1 {
	left: 8.33333%
}
.large-pull-1 {
	left: -8.33333%
}
.large-offset-0 {
	margin-left: 0
}
.large-2 {
	width: 16.66667%
}
.large-push-2 {
	left: 16.66667%
}
.large-pull-2 {
	left: -16.66667%
}
.large-offset-1 {
	margin-left: 8.33333%
}
.large-3 {
	width: 25%
}
.large-push-3 {
	left: 25%
}
.large-pull-3 {
	left: -25%
}
.large-offset-2 {
	margin-left: 16.66667%
}
.large-4 {
	width: 33.33333%
}
.large-push-4 {
	left: 33.33333%
}
.large-pull-4 {
	left: -33.33333%
}
.large-offset-3 {
	margin-left: 25%
}
.large-5 {
	width: 41.66667%
}
.large-push-5 {
	left: 41.66667%
}
.large-pull-5 {
	left: -41.66667%
}
.large-offset-4 {
	margin-left: 33.33333%
}
.large-6 {
	width: 50%
}
.large-push-6 {
	position: relative;
	left: 50%
}
.large-pull-6 {
	left: -50%
}
.large-offset-5 {
	margin-left: 41.66667%
}
.large-7 {
	width: 58.33333%
}
.large-push-7 {
	left: 58.33333%
}
.large-pull-7 {
	left: -58.33333%
}
.large-offset-6 {
	margin-left: 50%
}
.large-8 {
	width: 66.66667%
}
.large-push-8 {
	left: 66.66667%
}
.large-pull-8 {
	left: -66.66667%
}
.large-offset-7 {
	margin-left: 58.33333%
}
.large-9 {
	width: 75%
}
.large-push-9 {
	left: 75%
}
.large-pull-9 {
	left: -75%
}
.large-offset-8 {
	margin-left: 66.66667%
}
.large-10 {
	width: 83.33333%
}
.large-push-10 {
	left: 83.33333%
}
.large-pull-10 {
	left: -83.33333%
}
.large-offset-9 {
	margin-left: 75%
}
.large-11 {
	width: 91.66667%
}
.large-push-11 {
	left: 91.66667%
}
.large-pull-11 {
	left: -91.66667%
}
.large-offset-10 {
	margin-left: 83.33333%
}
.large-12 {
	width: 100%
}
.large-offset-11 {
	margin-left: 91.66667%
}
.large-up-1>.column, .large-up-1>.columns {
	width: 100%;
	float: left
}
.large-up-1>.column:nth-of-type(1n), .large-up-1>.columns:nth-of-type(1n) {
	clear: none
}
.large-up-1>.column:nth-of-type(1n+1), .large-up-1>.columns:nth-of-type(1n+1) {
	clear: both
}
.large-up-1>.column:last-child, .large-up-1>.columns:last-child {
	float: left
}
.large-up-2>.column, .large-up-2>.columns {
	width: 50%;
	float: left
}
.large-up-2>.column:nth-of-type(1n), .large-up-2>.columns:nth-of-type(1n) {
	clear: none
}
.large-up-2>.column:nth-of-type(2n+1), .large-up-2>.columns:nth-of-type(2n+1) {
	clear: both
}
.large-up-2>.column:last-child, .large-up-2>.columns:last-child {
	float: left
}
.large-up-3>.column, .large-up-3>.columns {
	width: 33.33333%;
	float: left
}
.large-up-3>.column:nth-of-type(1n), .large-up-3>.columns:nth-of-type(1n) {
	clear: none
}
.large-up-3>.column:nth-of-type(3n+1), .large-up-3>.columns:nth-of-type(3n+1) {
	clear: both
}
.large-up-3>.column:last-child, .large-up-3>.columns:last-child {
	float: left
}
.large-up-4>.column, .large-up-4>.columns {
	width: 25%;
	float: left
}
.large-up-4>.column:nth-of-type(1n), .large-up-4>.columns:nth-of-type(1n) {
	clear: none
}
.large-up-4>.column:nth-of-type(4n+1), .large-up-4>.columns:nth-of-type(4n+1) {
	clear: both
}
.large-up-4>.column:last-child, .large-up-4>.columns:last-child {
	float: left
}
.large-up-5>.column, .large-up-5>.columns {
	width: 20%;
	float: left
}
.large-up-5>.column:nth-of-type(1n), .large-up-5>.columns:nth-of-type(1n) {
	clear: none
}
.large-up-5>.column:nth-of-type(5n+1), .large-up-5>.columns:nth-of-type(5n+1) {
	clear: both
}
.large-up-5>.column:last-child, .large-up-5>.columns:last-child {
	float: left
}
.large-up-6>.column, .large-up-6>.columns {
	width: 16.66667%;
	float: left
}
.large-up-6>.column:nth-of-type(1n), .large-up-6>.columns:nth-of-type(1n) {
	clear: none
}
.large-up-6>.column:nth-of-type(6n+1), .large-up-6>.columns:nth-of-type(6n+1) {
	clear: both
}
.large-up-6>.column:last-child, .large-up-6>.columns:last-child {
	float: left
}
.large-up-7>.column, .large-up-7>.columns {
	width: 14.28571%;
	float: left
}
.large-up-7>.column:nth-of-type(1n), .large-up-7>.columns:nth-of-type(1n) {
	clear: none
}
.large-up-7>.column:nth-of-type(7n+1), .large-up-7>.columns:nth-of-type(7n+1) {
	clear: both
}
.large-up-7>.column:last-child, .large-up-7>.columns:last-child {
	float: left
}
.large-up-8>.column, .large-up-8>.columns {
	width: 12.5%;
	float: left
}
.large-up-8>.column:nth-of-type(1n), .large-up-8>.columns:nth-of-type(1n) {
	clear: none
}
.large-up-8>.column:nth-of-type(8n+1), .large-up-8>.columns:nth-of-type(8n+1) {
	clear: both
}
.large-up-8>.column:last-child, .large-up-8>.columns:last-child {
	float: left
}
.large-collapse>.column, .large-collapse>.columns {
	padding-left: 0;
	padding-right: 0
}
.large-uncollapse>.column, .large-uncollapse>.columns {
	padding-left: .9375rem;
	padding-right: .9375rem
}
.large-centered {
	float: none;
	margin-left: auto;
	margin-right: auto
}
.large-pull-0, .large-push-0, .large-uncentered {
	position: static;
	margin-left: 0;
	margin-right: 0
}
}
.breadcrumbs::after, .button-group::after, .clearfix::after, .off-canvas-wrapper-inner::after, .pagination::after, .tabs::after, .title-bar::after, .top-bar::after, hr {
	clear: both
}
ol, ul {
	margin-left: 1.25rem
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
	margin: 0;
	padding: 0
}
dl, ol, p, ul {
	margin-bottom: 1rem
}
p {
	font-size: inherit
}
em, i {
	font-style: italic
}
h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	color: inherit;
	margin-top: 0;
	margin-bottom: .5rem;
	line-height: 1.4
}
code, kbd {
	background-color: #e6e6e6;
	color: #0a0a0a;
	font-family: Consolas, "Liberation Mono", Courier, monospace
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #cacaca;
	line-height: 0
}
h1 {
	font-size: 1.5rem
}
h2 {
	font-size: 1.25rem
}
h3 {
	font-size: 1.1875rem
}
h4 {
	font-size: 1.125rem
}
h5 {
	font-size: 1.0625rem
}
h6 {
	font-size: 1rem
}

@media screen and (min-width:40em) {
h1 {
	font-size: 3rem
}
h2 {
	font-size: 2.5rem
}
h3 {
	font-size: 1.9375rem
}
h4 {
	font-size: 1.5625rem
}
h5 {
	font-size: 1.25rem
}
h6 {
	font-size: 1rem
}
}
a {
	background-color: transparent;
	color: #2199e8;
	text-decoration: none;
	cursor: pointer
}
a:focus, a:hover {
	color: #1585cf
}
a img {
	border: 0
}
hr {
	box-sizing: content-box;
	max-width: 75rem;
	height: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #cacaca;
	border-left: 0;
	margin: 1.25rem auto
}
dl, ol, ul {
	list-style-position: outside
}
li {
	font-size: inherit
}
ul {
	list-style-type: disc
}
.accordion, .menu, .tabs {
	list-style-type: none
}
ol ol, ol ul, ul ol, ul ul {
	margin-left: 1.25rem;
	margin-bottom: 0
}
dl dt {
	margin-bottom: .3rem;
	font-weight: 700
}
.subheader, code, label {
	font-weight: 400
}
blockquote {
	margin: 0 0 1rem;
	padding: .5625rem 1.25rem 0 1.1875rem;
	border-left: 1px solid #cacaca
}
blockquote, blockquote p {
	line-height: 1.6;
	color: #8a8a8a
}
cite {
	display: block;
	font-size: .8125rem;
	color: #8a8a8a
}
cite:before {
	content: '\2014 \0020'
}
abbr {
	color: #0a0a0a;
	cursor: help;
	border-bottom: 1px dotted #0a0a0a
}
code {
	border: 1px solid #cacaca;
	padding: .125rem .3125rem .0625rem
}
kbd {
	padding: .125rem .25rem 0;
	margin: 0
}
.subheader {
	margin-top: .2rem;
	margin-bottom: .5rem;
	line-height: 1.4;
	color: #8a8a8a
}
.lead {
	font-size: 125%;
	line-height: 1.6
}
.button, .stat {
	line-height: 1
}
.stat {
	font-size: 2.5rem
}
p+.stat {
	margin-top: -1rem
}
.no-bullet {
	margin-left: 0;
	list-style: none
}
.text-left {
	text-align: left
}
.text-right {
	text-align: right
}
.text-center {
	text-align: center
}
.text-justify {
	text-align: justify
}

@media screen and (min-width:40em) {
.medium-text-left {
	text-align: left
}
.medium-text-right {
	text-align: right
}
.medium-text-center {
	text-align: center
}
.medium-text-justify {
	text-align: justify
}
}

@media screen and (min-width:64em) {
.large-text-left {
	text-align: left
}
.large-text-right {
	text-align: right
}
.large-text-center {
	text-align: center
}
.large-text-justify {
	text-align: justify
}
}
.badge, .button, .input-group-label, .menu.icon-top>li>a, .orbit-bullets {
	text-align: center
}
.show-for-print {
	display: none!important
}

@media print {
blockquote, img, pre, tr {
	page-break-inside: avoid
}
* {
	background: 0 0!important;
	color: #000!important;
	box-shadow: none!important;
	text-shadow: none!important
}
.show-for-print {
	display: block!important
}
.hide-for-print {
	display: none!important
}
table.show-for-print {
	display: table!important
}
thead.show-for-print {
	display: table-header-group!important
}
tbody.show-for-print {
	display: table-row-group!important
}
tr.show-for-print {
	display: table-row!important
}
td.show-for-print, th.show-for-print {
	display: table-cell!important
}
a, a:visited {
	text-decoration: underline
}
a[href]:after {
	content: " (" attr(href) ")"
}
.ir a:after, a[href^='javascript:']:after, a[href^='#']:after {
	content: ''
}
abbr[title]:after {
	content: " (" attr(title) ")"
}
blockquote, pre {
	border: 1px solid #999
}
thead {
	display: table-header-group
}
img {
	max-width: 100%!important
}
@page {
	margin: .5cm
}
h2, h3, p {
	orphans: 3;
	widows: 3
}
h2, h3 {
	page-break-after: avoid
}
}
.button {
	display: inline-block;
	cursor: pointer;
	-webkit-appearance: none;
	transition: background-color .25s ease-out, color .25s ease-out;
	border: 1px solid transparent;
	border-radius: 0;
	padding: .85em 1em;
	margin: 0 0 1rem;
	font-size: .9rem;
	background-color: #2199e8;
	color: #336699
}
[data-whatinput=mouse] .button {
	outline: 0
}
.button:focus, .button:hover {
	background-color: #1583cc;
	color: #fff
}
.button.tiny {
	font-size: .6rem
}
.button.small {
	font-size: .75rem
}
.button.large {
	font-size: 1.25rem
}
.button.expanded {
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0
}
.button.primary {
	background-color: #2199e8;
	color: #fff
}
.button.primary:focus, .button.primary:hover {
	background-color: #147cc0;
	color: #fff
}
.button.secondary {
	background-color: #777;
	color: #fff
}
.button.secondary:focus, .button.secondary:hover {
	background-color: #5f5f5f;
	color: #fff
}
.button.success {
	background-color: #3adb76;
	color: #fff
}
.button.success:focus, .button.success:hover {
	background-color: #22bb5b;
	color: #fff
}
.button.alert {
	background-color: #ec5840;
	color: #fff
}
.button.alert:focus, .button.alert:hover {
	background-color: #da3116;
	color: #fff
}
.button.warning {
	background-color: #ffae00;
	color: #fff
}
.button.warning:focus, .button.warning:hover {
	background-color: #cc8b00;
	color: #fff
}
.button.hollow {
	border: 1px solid #2199e8;
	color: #2199e8
}
.button.hollow, .button.hollow:focus, .button.hollow:hover {
	background-color: transparent
}
.button.hollow:focus, .button.hollow:hover {
	border-color: #0c4d78;
	color: #0c4d78
}
.button.hollow.primary {
	border: 1px solid #2199e8;
	color: #2199e8
}
.button.hollow.primary:focus, .button.hollow.primary:hover {
	border-color: #0c4d78;
	color: #0c4d78
}
.button.hollow.secondary {
	border: 1px solid #777;
	color: #777
}
.button.hollow.secondary:focus, .button.hollow.secondary:hover {
	border-color: #3c3c3c;
	color: #3c3c3c
}
.button.hollow.success {
	border: 1px solid #3adb76;
	color: #3adb76
}
.button.hollow.success:focus, .button.hollow.success:hover {
	border-color: #157539;
	color: #157539
}
.button.hollow.alert {
	border: 1px solid #ec5840;
	color: #ec5840
}
.button.hollow.alert:focus, .button.hollow.alert:hover {
	border-color: #881f0e;
	color: #881f0e
}
.button.hollow.warning {
	border: 1px solid #ffae00;
	color: #ffae00
}
.button.hollow.warning:focus, .button.hollow.warning:hover {
	border-color: #805700;
	color: #805700
}
.button.disabled, .button[disabled] {
	opacity: .25;
	cursor: not-allowed;
	pointer-events: none
}
.button.dropdown::after {
	content: '';
	width: 0;
	height: 0;
	border: .4em inset;
	border-color: #fefefe transparent transparent;
	border-top-style: solid;
	top: .4em;
	float: right;
	margin-left: 1em;
	display: inline-block
}
.button.arrow-only::after {
	margin-left: 0;
	float: none;
	top: .2em
}
[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color], textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 2.4375rem;
	padding: .5rem;
	border: 1px solid #cacaca;
	margin: 0 0 1rem;
	font-family: inherit;
	font-size: 1rem;
	color: #0a0a0a;
	background-color: #fefefe;
	box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
	border-radius: 0;
	transition: box-shadow .5s, border-color .25s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none
}
[type=text]:focus, [type=password]:focus, [type=date]:focus, [type=datetime]:focus, [type=datetime-local]:focus, [type=month]:focus, [type=week]:focus, [type=email]:focus, [type=number]:focus, [type=search]:focus, [type=tel]:focus, [type=time]:focus, [type=url]:focus, [type=color]:focus, textarea:focus {
	border: 1px solid #8a8a8a;
	background-color: #fefefe;
	outline: 0;
	box-shadow: 0 0 5px #cacaca;
	transition: box-shadow .5s, border-color .25s ease-in-out
}
textarea {
	min-height: 50px;
	max-width: 100%
}
textarea[rows] {
	height: auto
}
input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
	background-color: #e6e6e6;
	cursor: default
}
[type=submit], [type=button] {
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none
}
input[type=search] {
	box-sizing: border-box
}
[type=file], [type=checkbox], [type=radio] {
	margin: 0 0 1rem
}
[type=checkbox]+label, [type=radio]+label {
	display: inline-block;
	margin-left: .5rem;
	margin-right: 1rem;
	margin-bottom: 0;
	vertical-align: baseline
}
label>[type=checkbox], label>[type=label] {
	margin-right: .5rem
}
[type=file] {
	width: 100%
}
label {
	display: block;
	margin: 0;
	font-size: .875rem;
	line-height: 1.8;
	color: #0a0a0a
}
.form-error, .menu-text, .switch {
	font-weight: 700
}
label.middle {
	margin: 0 0 1rem;
	padding: .5625rem 0
}
.help-text {
	margin-top: -.5rem;
	font-size: .8125rem;
	font-style: italic;
	color: #333
}
.input-group {
	display: table;
	width: 100%;
	margin-bottom: 1rem
}
.input-group-button a, .input-group-button button, .input-group-button input, fieldset {
	margin: 0
}
.input-group>:first-child, .input-group>:last-child>* {
	border-radius: 0
}
.input-group-button, .input-group-field, .input-group-label {
	display: table-cell;
	margin: 0;
	vertical-align: middle
}
.input-group-label {
	width: 1%;
	height: 100%;
	padding: 0 1rem;
	background: #e6e6e6;
	color: #0a0a0a;
	border: 1px solid #cacaca
}
.input-group-label:first-child {
	border-right: 0
}
.input-group-label:last-child {
	border-left: 0
}
.input-group-field {
	border-radius: 0;
	height: 2.5rem
}
.fieldset, select {
	border: 1px solid #cacaca
}
.input-group-button {
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	width: 1%
}
fieldset {
	border: 0;
	padding: 0
}
legend {
	margin-bottom: .5rem
}
.fieldset {
	padding: 1.25rem;
	margin: 1.125rem 0
}
.fieldset legend {
	background: #fefefe;
	padding: 0 .1875rem;
	margin: 0 0 0 -.1875rem
}
select {
	height: 2.4375rem;
	padding: .5rem;
	margin: 0 0 1rem;
	font-size: 1rem;
	font-family: inherit;
	line-height: normal;
	color: #0a0a0a;
	background-color: #fefefe;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%2851, 51, 51%29"></polygon></svg>');
	background-size: 9px 6px;
	background-position: right .5rem center;
	background-repeat: no-repeat
}
.form-error, .is-invalid-label {
	color: #ec5840
}
@media screen and (min-width:0\0) {
select {
background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==)
}
}
select:disabled {
	background-color: #e6e6e6;
	cursor: default
}
select::-ms-expand {
display:none
}
select[multiple] {
	height: auto
}
.is-invalid-input:not(:focus) {
	background-color: rgba(236,88,64,.1);
	border-color: #ec5840
}
.form-error {
	display: none;
	margin-top: -.5rem;
	margin-bottom: 1rem;
	font-size: .75rem
}
.form-error.is-visible {
	display: block
}
.hide {
	display: none!important
}

@media screen and (min-width:0em) and (max-width:39.9375em) {
.hide-for-small-only {
	display: none!important
}
}

@media screen and (max-width:0em), screen and (min-width:40em) {
.show-for-small-only {
	display: none!important
}
}

@media screen and (min-width:40em) {
.hide-for-medium {
	display: none!important
}
}

@media screen and (max-width:39.9375em) {
.show-for-medium {
	display: none!important
}
}

@media screen and (min-width:40em) and (max-width:63.9375em) {
.hide-for-medium-only {
	display: none!important
}
}

@media screen and (max-width:39.9375em), screen and (min-width:64em) {
.show-for-medium-only {
	display: none!important
}
}

@media screen and (min-width:64em) {
.hide-for-large {
	display: none!important
}
}

@media screen and (max-width:63.9375em) {
.show-for-large {
	display: none!important
}
}

@media screen and (min-width:64em) and (max-width:74.9375em) {
.hide-for-large-only {
	display: none!important
}
}

@media screen and (max-width:63.9375em), screen and (min-width:75em) {
.show-for-large-only {
	display: none!important
}
}
.show-for-sr, .show-on-focus {
	position: absolute!important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0,0,0,0)
}
.show-on-focus:active, .show-on-focus:focus {
	position: static!important;
	height: auto;
	width: auto;
	overflow: visible;
	clip: auto
}
.hide-for-portrait, .show-for-landscape {
	display: block!important
}

@media screen and (orientation:landscape) {
.hide-for-portrait, .show-for-landscape {
	display: block!important
}
.hide-for-landscape, .show-for-portrait {
	display: none!important
}
}
.hide-for-landscape, .show-for-portrait {
	display: none!important
}

@media screen and (orientation:portrait) {
.hide-for-portrait, .show-for-landscape {
	display: none!important
}
.hide-for-landscape, .show-for-portrait {
	display: block!important
}
}
.float-left {
	float: left!important
}
.float-right {
	float: right!important
}
.float-center {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.clearfix::after, .clearfix::before {
	content: ' ';
	display: table
}
.accordion {
	background: #fefefe;
	border: 1px solid #e6e6e6;
	border-radius: 0;
	margin-left: 0
}
.accordion-title {
	display: block;
	padding: 1.25rem 1rem;
	line-height: 1;
	font-size: .75rem;
	color: #2199e8;
	position: relative;
	border-bottom: 1px solid #e6e6e6
}
.accordion-title:focus, .accordion-title:hover {
	background-color: #e6e6e6
}
:last-child>.accordion-title {
	border-bottom-width: 0
}
.accordion-title::before {
	content: '+';
	position: absolute;
	right: 1rem;
	top: 50%;
	margin-top: -.5rem
}
.is-active>.accordion-title::before {
	content: '–'
}
.accordion-content {
	padding: 1rem;
	display: none;
	border-bottom: 1px solid #e6e6e6;
	background-color: #fefefe
}
.is-accordion-submenu-parent>a {
	position: relative
}
.is-accordion-submenu-parent>a::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 6px inset;
	border-color: #2199e8 transparent transparent;
	border-top-style: solid;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	right: 1rem
}
.is-accordion-submenu-parent[aria-expanded=true]>a::after {
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	transform: scaleY(-1)
}
.badge {
	display: inline-block;
	padding: .3em;
	min-width: 2.1em;
	font-size: .6rem;
	border-radius: 50%;
	background: #2199e8;
	color: #fefefe
}
.badge.secondary {
	background: #777;
	color: #fefefe
}
.badge.success {
	background: #3adb76;
	color: #fefefe
}
.badge.alert {
	background: #ec5840;
	color: #fefefe
}
.badge.warning {
	background: #ffae00;
	color: #fefefe
}
.breadcrumbs {
	list-style: none;
	margin: 0 0 1rem
}
.breadcrumbs::after, .breadcrumbs::before {
	content: ' ';
	display: table
}
.breadcrumbs li {
	float: left;
	color: #0a0a0a;
	font-size: .6875rem;
	cursor: default;
	text-transform: uppercase
}
.breadcrumbs li:not(:last-child)::after {
	color: #cacaca;
	content: "/";
	margin: 0 .75rem;
	position: relative;
	top: 1px;
	opacity: 1
}
.breadcrumbs a {
	color: #2199e8
}
.breadcrumbs a:hover {
	text-decoration: underline
}
.breadcrumbs .disabled {
	color: #cacaca
}
.button-group {
	margin-bottom: 1rem;
	font-size: .9rem
}
.button-group::after, .button-group::before {
	content: ' ';
	display: table
}
.button-group .button {
	float: left;
	margin: 0;
	font-size: inherit
}
.button-group .button:not(:last-child) {
	border-right: 1px solid #fefefe
}
.button-group.tiny {
	font-size: .6rem
}
.button-group.small {
	font-size: .75rem
}
.button-group.large {
	font-size: 1.25rem
}
.button-group.expanded {
	display: table;
	table-layout: fixed;
	width: 100%
}
.button-group.expanded::after, .button-group.expanded::before {
	display: none
}
.button-group.expanded .button {
	display: table-cell;
	float: none
}
.button-group.primary .button {
	background-color: #2199e8;
	color: #336699
}
.button-group.primary .button:focus, .button-group.primary .button:hover {
	background-color: #147cc0;
	color: #336699
}
.button-group.secondary .button {
	background-color: #777;
	color: #336699
}
.button-group.secondary .button:focus, .button-group.secondary .button:hover {
	background-color: #5f5f5f;
	color: #336699
}
.button-group.success .button {
	background-color: #3adb76;
	color: #336699
}
.button-group.success .button:focus, .button-group.success .button:hover {
	background-color: #22bb5b;
	color: #336699
}
.button-group.alert .button {
	background-color: #ec5840;
	color: #336699
}
.button-group.alert .button:focus, .button-group.alert .button:hover {
	background-color: #da3116;
	color: #336699
}
.button-group.warning .button {
	background-color: #ffae00;
	color: #336699
}
.button-group.warning .button:focus, .button-group.warning .button:hover {
	background-color: #cc8b00;
	color: #336699
}
.button-group.stacked .button, .button-group.stacked-for-small .button {
	width: 100%
}
.button-group.stacked .button:not(:last-child), .button-group.stacked-for-small .button:not(:last-child) {
	border-right: 1px solid
}

@media screen and (min-width:40em) {
.button-group.stacked-for-small .button {
	width: auto
}
.button-group.stacked-for-small .button:not(:last-child) {
	border-right: 1px solid #fefefe
}
}
.callout {
	margin: 0 0 1rem;
	padding: 1rem;
	border: 1px solid rgba(10,10,10,.25);
	border-radius: 0;
	position: relative;
	color: #0a0a0a;
	background-color: #fff
}
.callout>:first-child {
	margin-top: 0
}
.callout>:last-child {
	margin-bottom: 0
}
.callout.primary {
	background-color: #def0fc
}
.callout.secondary {
	background-color: #ebebeb
}
.callout.success {
	background-color: #e1faea
}
.callout.alert {
	background-color: #fce6e2
}
.callout.warning {
	background-color: #fff3d9
}
.callout.small {
	padding: .5rem
}
.callout.large {
	padding: 3rem
}
.close-button {
	position: absolute;
	color: #8a8a8a;
	right: 1rem;
	top: .5rem;
	font-size: 2em;
	line-height: 1;
	cursor: pointer
}
[data-whatinput=mouse] .close-button {
	outline: 0
}
.close-button:focus, .close-button:hover {
	color: #0a0a0a
}
.is-drilldown {
	position: relative;
	overflow: hidden
}
.is-drilldown-submenu {
	position: absolute;
	top: 0;
	left: 100%;
	z-index: -1;
	height: 100%;
	width: 100%;
	background: #fefefe;
	transition: -webkit-transform .15s linear;
	transition: transform .15s linear
}
.is-drilldown-submenu-parent>a::after, .js-drilldown-back::before {
	width: 0;
	content: '';
	display: block;
	height: 0
}
.is-drilldown-submenu.is-active {
	z-index: 1;
	display: block;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%)
}
.is-drilldown-submenu.is-closing {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%)
}
.is-drilldown-submenu-parent>a {
	position: relative
}
.is-drilldown-submenu-parent>a::after {
	border: 6px inset;
	border-color: transparent transparent transparent #2199e8;
	border-left-style: solid;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	right: 1rem
}
.js-drilldown-back::before {
	border: 6px inset;
	border-color: transparent #2199e8 transparent transparent;
	border-right-style: solid;
	float: left;
	margin-right: .75rem;
	margin-left: .6rem;
	margin-top: 14px
}
.dropdown-pane {
	background-color: #fefefe;
	border: 1px solid #cacaca;
	display: block;
	padding: 1rem;
	position: absolute;
	width: 300px;
	z-index: 10;
	border-radius: 0
}
.dropdown-pane.is-open {
	visibility: visible
}
.dropdown-pane.tiny {
	width: 100px
}
.dropdown-pane.small {
	width: 200px
}
.dropdown-pane.large {
	width: 400px
}
[data-whatinput=mouse] .dropdown.menu a {
	outline: 0
}
.dropdown.menu .is-dropdown-submenu-parent {
	position: relative
}
.dropdown.menu .is-dropdown-submenu-parent a::after {
	float: right;
	margin-top: 3px;
	margin-left: 10px
}
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow a {
	padding-right: 1.5rem;
	position: relative
}
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow>a::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 5px inset;
	border-color: #2199e8 transparent transparent;
	border-top-style: solid;
	position: absolute;
	top: .825rem;
	right: 5px
}
.dropdown.menu .is-dropdown-submenu-parent.is-left-arrow>a::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 5px inset;
	border-color: transparent #2199e8 transparent transparent;
	border-right-style: solid;
	float: left;
	margin-left: 0;
	margin-right: 10px
}
.is-dropdown-menu.vertical.align-right, .menu.align-right>li {
	float: right
}
.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow>a::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 5px inset;
	border-color: transparent transparent transparent #2199e8;
	border-left-style: solid
}
.dropdown.menu .is-dropdown-submenu-parent.is-left-arrow.opens-inner .submenu {
	right: 0;
	left: auto
}
.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow.opens-inner .submenu {
	left: 0;
	right: auto
}
.dropdown.menu .is-dropdown-submenu-parent.opens-inner .submenu {
	top: 100%
}
.no-js .dropdown.menu ul {
	display: none
}
.dropdown.menu .submenu {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 200px;
	z-index: 1;
	background: #fefefe;
	border: 1px solid #cacaca;
	margin-top: -1px
}
.dropdown.menu .submenu>li {
	width: 100%
}
.dropdown.menu .submenu.first-sub {
	top: 100%;
	left: 0;
	right: auto
}
.dropdown.menu .submenu.js-dropdown-active, .dropdown.menu .submenu:not(.js-dropdown-nohover)>.is-dropdown-submenu-parent:hover>.dropdown.menu .submenu {
	display: block
}
.dropdown.menu .is-dropdown-submenu-parent.opens-left .submenu {
	left: auto;
	right: 100%
}
.dropdown.menu.align-right .submenu.first-sub {
	top: 100%;
	left: auto;
	right: 0
}
.is-dropdown-menu.vertical {
	width: 100px
}
.is-dropdown-menu.vertical>li .submenu {
	top: 0;
	left: 100%
}
.flex-video {
	position: relative;
	height: 0;
	padding-bottom: 75%;
	margin-bottom: 1rem;
	overflow: hidden
}
.flex-video embed, .flex-video iframe, .flex-video object, .flex-video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.flex-video.widescreen {
	padding-bottom: 56.25%
}
.flex-video.vimeo {
	padding-top: 0
}
.label {
	display: inline-block;
	padding: .33333rem .5rem;
	font-size: .8rem;
	line-height: 1;
	white-space: nowrap;
	cursor: default;
	border-radius: 0;
	background: #2199e8;
	color: #fefefe
}
.label.secondary {
	background: #777;
	color: #fefefe
}
.label.success {
	background: #3adb76;
	color: #fefefe
}
.label.alert {
	background: #ec5840;
	color: #fefefe
}
.label.warning {
	background: #ffae00;
	color: #fefefe
}
.media-object {
	margin-bottom: 1rem;
	display: block
}
.media-object img {
	max-width: none
}

@media screen and (min-width:0em) and (max-width:39.9375em) {
.media-object.stack-for-small .media-object-section {
	display: block;
	padding: 0 0 1rem
}
.media-object.stack-for-small .media-object-section img {
	width: 100%
}
}
.media-object-section {
	display: table-cell;
	vertical-align: top
}
.media-object-section:first-child {
	padding-right: 1rem
}
.media-object-section:last-child:not(+.media-object-section:first-child) {
	padding-left: 1rem
}
.media-object-section.middle {
	vertical-align: middle
}
.media-object-section.bottom {
	vertical-align: bottom
}
.menu>li, .menu>li>a>i, .menu>li>a>img, .menu>li>a>span {
	vertical-align: middle
}
.menu {
	margin: 0
}
[data-whatinput=mouse] .menu>li {
	outline: 0
}
.menu>li:not(.menu-text)>a {
	display: block;
	padding: .7rem 1rem;
	line-height: 1
}
.menu a, .menu button, .menu input {
	margin-bottom: 0
}
.menu>li>a>i, .menu>li>a>img {
	display: inline-block;
	margin-right: .25rem
}
.menu>li {
	display: table-cell
}
.menu.vertical>li {
	display: block
}

@media screen and (min-width:40em) {
.menu.medium-horizontal>li {
	display: table-cell
}
.menu.medium-vertical>li {
	display: block
}
}

@media screen and (min-width:64em) {
.menu.large-horizontal>li {
	display: table-cell
}
.menu.large-vertical>li {
	display: block
}
}
.menu.simple a {
	padding: 0;
	margin-right: 1rem
}
.menu.expanded {
	display: table;
	table-layout: fixed;
	width: 100%
}
.menu.expanded>li:first-child:last-child {
	width: 100%
}
.menu.icon-top>li>a>i, .menu.icon-top>li>a>img {
	display: block;
	margin: 0 auto .25rem
}
.menu.nested {
	margin-left: 1rem
}
.menu-text {
	color: inherit;
	line-height: 1;
	padding: .7rem 1rem
}
.no-js [data-responsive-menu] ul {
	display: none
}
body, html {
	height: 100%
}
.off-canvas-wrapper {
	width: 100%;
	overflow-x: hidden;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-overflow-scrolling: auto
}
.off-canvas-wrapper-inner {
	position: relative;
	width: 100%;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease
}
.off-canvas-wrapper-inner::after, .off-canvas-wrapper-inner::before {
	content: ' ';
	display: table
}
.off-canvas-content {
	min-height: 100%;
	background: #fefefe;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
	box-shadow: 0 0 10px rgba(10,10,10,.5)
}
.js-off-canvas-exit {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(254,254,254,.25);
	cursor: pointer;
	transition: background .5s ease
}
.is-off-canvas-open .js-off-canvas-exit {
	display: block
}
.off-canvas {
	position: absolute;
	background: #e6e6e6;
	z-index: -1;
	max-height: 100%;
	overflow-y: auto;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
.orbit-caption, .orbit-next:active, .orbit-next:focus, .orbit-next:hover, .orbit-previous:active, .orbit-previous:focus, .orbit-previous:hover {
	background-color: rgba(10,10,10,.5)
}
[data-whatinput=mouse] .off-canvas {
	outline: 0
}
.off-canvas.position-left {
	left: -250px;
	top: 0;
	width: 250px
}
.is-open-left {
	-webkit-transform: translateX(250px);
	-ms-transform: translateX(250px);
	transform: translateX(250px)
}
.off-canvas.position-right {
	right: -250px;
	top: 0;
	width: 250px
}
.is-open-right {
	-webkit-transform: translateX(-250px);
	-ms-transform: translateX(-250px);
	transform: translateX(-250px)
}

@media screen and (min-width:40em) {
.position-left.reveal-for-medium {
	left: 0;
	z-index: auto;
	position: fixed
}
.position-left.reveal-for-medium~.off-canvas-content {
	margin-left: 250px
}
.position-right.reveal-for-medium {
	right: 0;
	z-index: auto;
	position: fixed
}
.position-right.reveal-for-medium~.off-canvas-content {
	margin-right: 250px
}
}

@media screen and (min-width:64em) {
.position-left.reveal-for-large {
	left: 0;
	z-index: auto;
	position: fixed
}
.position-left.reveal-for-large~.off-canvas-content {
	margin-left: 250px
}
.position-right.reveal-for-large {
	right: 0;
	z-index: auto;
	position: fixed
}
.position-right.reveal-for-large~.off-canvas-content {
	margin-right: 250px
}
}
.orbit, .orbit-container {
	position: relative
}
.orbit-container {
	margin: 0;
	overflow: hidden;
	list-style: none
}
.orbit-caption, .orbit-next, .orbit-previous {
	position: absolute;
	padding: 1rem;
	color: #fefefe
}
.orbit-slide {
	width: 100%;
	max-height: 100%
}
.orbit-slide.no-motionui.is-active {
	top: 0;
	left: 0
}
.orbit-figure {
	margin: 0
}
.orbit-image {
	margin: 0;
	width: 100%;
	max-width: 100%
}
.orbit-caption {
	width: 100%;
	margin-bottom: 0
}
.orbit-next, .orbit-previous {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10
}
[data-whatinput=mouse] .orbit-next, [data-whatinput=mouse] .orbit-previous {
	outline: 0
}
.orbit-previous {
	left: 0
}
.orbit-next {
	left: auto;
	right: 0
}
.orbit-bullets {
	position: relative;
	margin-top: .8rem;
	margin-bottom: .8rem
}
[data-whatinput=mouse] .orbit-bullets {
	outline: 0
}
.orbit-bullets button {
	width: 1.2rem;
	height: 1.2rem;
	margin: .1rem;
	background-color: #cacaca;
	border-radius: 50%
}
.orbit-bullets button.is-active, .orbit-bullets button:hover {
	background-color: #8a8a8a
}
.pagination {
	margin-left: 0;
	margin-bottom: 1rem
}
.pagination::after, .pagination::before {
	content: ' ';
	display: table
}
.pagination li {
	font-size: .875rem;
	margin-right: .0625rem;
	display: none;
	border-radius: 0
}
.pagination li:first-child, .pagination li:last-child {
	display: inline-block
}

@media screen and (min-width:40em) {
.pagination li {
	display: inline-block
}
.reveal {
	min-height: 0
}
}
.pagination a, .pagination button {
	color: #0a0a0a;
	display: block;
	padding: .1875rem .625rem;
	border-radius: 0
}
.pagination a:hover, .pagination button:hover {
	background: #e6e6e6
}
.pagination .current {
	padding: .1875rem .625rem;
	background: #2199e8;
	color: #fefefe;
	cursor: default
}
.pagination .disabled {
	padding: .1875rem .625rem;
	color: #cacaca;
	cursor: default
}
.pagination .disabled:hover {
	background: 0 0
}
.pagination .ellipsis::after {
	content: '…';
	padding: .1875rem .625rem;
	color: #0a0a0a
}
.pagination-previous a::before, .pagination-previous.disabled::before {
	content: '«';
	display: inline-block;
	margin-right: .5rem
}
.pagination-next a::after, .pagination-next.disabled::after {
	content: '»';
	display: inline-block;
	margin-left: .5rem
}
.progress {
	background-color: #cacaca;
	height: 1rem;
	margin-bottom: 1rem;
	border-radius: 0
}
.progress.primary .progress-meter {
	background-color: #2199e8
}
.progress.secondary .progress-meter {
	background-color: #777
}
.progress.success .progress-meter {
	background-color: #3adb76
}
.progress.alert .progress-meter {
	background-color: #ec5840
}
.progress.warning .progress-meter {
	background-color: #ffae00
}
.progress-meter {
	position: relative;
	display: block;
	width: 0;
	height: 100%;
	background-color: #2199e8;
	border-radius: 0
}
.progress-meter .progress-meter-text {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: .75rem;
	font-weight: 700;
	color: #fefefe;
	white-space: nowrap
}
.slider-fill, .slider-handle {
	left: 0;
	display: inline-block
}
.slider {
	position: relative;
	height: .5rem;
	margin-top: 1.25rem;
	margin-bottom: 2.25rem;
	background-color: #e6e6e6;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: none;
	touch-action: none
}
.slider-fill {
	position: absolute;
	top: 0;
	max-width: 100%;
	height: .5rem;
	background-color: #cacaca;
	transition: all .2s ease-in-out
}
.slider-fill.is-dragging {
	transition: all 0s linear
}
.slider-handle {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	z-index: 1;
	width: 1.4rem;
	height: 1.4rem;
	background-color: #2199e8;
	transition: all .2s ease-in-out;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	border-radius: 0
}
[data-whatinput=mouse] .slider-handle {
	outline: 0
}
.slider-handle:hover {
	background-color: #1583cc
}
.slider-handle.is-dragging {
	transition: all 0s linear
}
.slider.disabled, .slider[disabled] {
	opacity: .25;
	cursor: not-allowed
}
.slider.vertical {
	display: inline-block;
	width: .5rem;
	height: 12.5rem;
	margin: 0 1.25rem;
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1)
}
.slider.vertical .slider-fill {
	top: 0;
	width: .5rem;
	max-height: 100%
}
.slider.vertical .slider-handle {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1.4rem;
	height: 1.4rem;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}
.sticky-container {
	position: relative
}
.sticky {
	position: absolute;
	z-index: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.sticky.is-stuck {
	position: fixed;
	z-index: 5
}
.sticky.is-stuck.is-at-top {
	top: 0
}
.sticky.is-anchored {
	position: absolute;
	left: auto;
	right: auto
}
body.is-reveal-open {
	overflow: hidden
}
.reveal-overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1005;
	background-color: rgba(10,10,10,.45);
	overflow-y: scroll
}
.reveal {
	display: none;
	z-index: 1006;
	padding: 1rem;
	border: 1px solid #cacaca;
	margin: 100px auto 0;
	background-color: #fefefe;
	border-radius: 0;
	position: absolute;
	overflow-y: auto
}
.switch-paddle, .switch-paddle::after {
	display: block;
	transition: all .25s ease-out
}
[data-whatinput=mouse] .reveal {
	outline: 0
}
.reveal .column, .reveal .columns {
	min-width: 0
}
.reveal>:last-child {
	margin-bottom: 0
}
.reveal.collapse {
	padding: 0
}
caption, tbody td, tbody th {
	padding: .5rem .625rem .625rem
}

@media screen and (min-width:40em) {
.reveal {
	width: 600px;
	max-width: 75rem
}
.reveal .reveal {
	left: auto;
	right: auto;
	margin: 0 auto
}
.reveal.tiny {
	width: 30%;
	max-width: 75rem
}
.reveal.small {
	width: 50%;
	max-width: 75rem
}
.reveal.large {
	width: 90%;
	max-width: 75rem
}
}
.reveal.full {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	height: 100vh;
	min-height: 100vh;
	max-width: none;
	margin-left: 0;
	border: 0
}
.switch {
	margin-bottom: 1rem;
	outline: 0;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fefefe;
	font-size: .875rem
}
.switch-input {
	opacity: 0;
	position: absolute
}
.switch-paddle {
	background: #cacaca;
	cursor: pointer;
	position: relative;
	width: 4rem;
	height: 2rem;
	border-radius: 0;
	color: inherit;
	font-weight: inherit
}
.has-tip, .title-bar-title, caption {
	font-weight: 700
}
input+.switch-paddle {
	margin: 0
}
.switch-paddle::after {
	background: #fefefe;
	content: '';
	position: absolute;
	height: 1.5rem;
	left: .25rem;
	top: .25rem;
	width: 1.5rem;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	border-radius: 0
}
.switch-active, .switch-inactive, .tooltip.left::before {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%)
}
input:checked~.switch-paddle {
	background: #2199e8
}
input:checked~.switch-paddle::after {
	left: 2.25rem
}
[data-whatinput=mouse] input:focus~.switch-paddle {
	outline: 0
}
.switch-active, .switch-inactive {
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}
.switch-active {
	left: 8%;
	display: none
}
input:checked+label>.switch-active {
	display: block
}
.switch-inactive {
	right: 15%
}
input:checked+label>.switch-inactive {
	display: none
}
.switch.tiny .switch-paddle {
	width: 3rem;
	height: 1.5rem;
	font-size: .625rem
}
.switch.tiny .switch-paddle::after {
	width: 1rem;
	height: 1rem
}
.switch.tiny input:checked~.switch-paddle:after {
	left: 1.75rem
}
.switch.small .switch-paddle {
	width: 3.5rem;
	height: 1.75rem;
	font-size: .75rem
}
.switch.small .switch-paddle::after {
	width: 1.25rem;
	height: 1.25rem
}
.switch.small input:checked~.switch-paddle:after {
	left: 2rem
}
.switch.large .switch-paddle {
	width: 5rem;
	height: 2.5rem;
	font-size: 1rem
}
.switch.large .switch-paddle::after {
	width: 2rem;
	height: 2rem
}
.switch.large input:checked~.switch-paddle:after {
	left: 2.75rem
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1rem;
	border-radius: 0
}
tbody, tfoot, thead {
	border: 1px solid #f1f1f1;
	background-color: #fefefe
}
tfoot, thead {
	background: #f8f8f8;
	color: #0a0a0a
}
tfoot tr, thead tr {
	background: 0 0
}
tfoot td, tfoot th, thead td, thead th {
	padding: .5rem .625rem .625rem;
	font-weight: 700;
	text-align: left
}
tbody tr:nth-child(even) {
	background-color: #f1f1f1
}

@media screen and (max-width:63.9375em) {
table.stack tfoot, table.stack thead {
	display: none
}
table.stack td, table.stack th, table.stack tr {
	display: block
}
table.stack td {
	border-top: 0
}
}
.tabs, .tabs-content {
	border: 1px solid #e6e6e6
}
table.scroll {
	display: block;
	width: 100%;
	overflow-x: auto
}
table.hover tr:hover {
	background-color: #f9f9f9
}
table.hover tr:nth-of-type(even):hover {
	background-color: #ececec
}
.tabs {
	margin: 0;
	background: #fefefe
}
.tabs::after, .tabs::before {
	content: ' ';
	display: table
}
.tabs.vertical>li {
	width: auto;
	float: none;
	display: block
}
.tabs-title, .title-bar-left {
	float: left
}
.tabs.simple>li>a {
	padding: 0
}
.tabs.simple>li>a:hover {
	background: 0 0
}
.tabs.primary {
	background: #2199e8
}
.tabs.primary>li>a {
	color: #fefefe
}
.tabs.primary>li>a:focus, .tabs.primary>li>a:hover {
	background: #1893e4
}
.tabs-title>a {
	display: block;
	padding: 1.25rem 1.5rem;
	line-height: 1;
	font-size: 12px;
	color: #2199e8
}
.tabs-title>a:hover {
	background: #fefefe
}
.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
	background: #e6e6e6
}
.tabs-content {
	background: #fefefe;
	transition: all .5s ease;
	border-top: 0
}
.tabs-content.vertical {
	border: 1px solid #e6e6e6;
	border-left: 0
}
.tabs-panel {
	display: none;
	padding: 1rem
}
.tabs-panel.is-active {
	display: block
}
.thumbnail {
	border: 4px solid #fefefe;
	box-shadow: 0 0 0 1px rgba(10,10,10,.2);
	display: inline-block;
	line-height: 0;
	max-width: 100%;
	transition: box-shadow .2s ease-out;
	border-radius: 0;
	margin-bottom: 1rem
}
.thumbnail:focus, .thumbnail:hover {
	box-shadow: 0 0 6px 1px rgba(33,153,232,.5)
}
.title-bar {
	background: #0a0a0a;
	color: #fefefe;
	padding: .5rem
}
.title-bar::after, .title-bar::before {
	content: ' ';
	display: table
}
.menu-icon, .title-bar-title {
	display: inline-block;
	vertical-align: middle
}
.title-bar .menu-icon {
	margin-left: .25rem;
	margin-right: .5rem
}
.title-bar-right {
	float: right;
	text-align: right
}

.top-bar {
	padding: .5rem
}
.top-bar::after, .top-bar::before {
	content: ' ';
	display: table
}
.top-bar, .top-bar ul {
	background-color: #e6e6e6
}
.top-bar a {
	color: #2199e8
}
.top-bar input {
	width: 200px;
	margin-right: 1rem
}
.top-bar input.button {
	width: auto
}

@media screen and (max-width:39.9375em) {
.stacked-for-small .top-bar-left, .stacked-for-small .top-bar-right {
	width: 100%
}
}

@media screen and (max-width:63.9375em) {
.stacked-for-medium .top-bar-left, .stacked-for-medium .top-bar-right {
	width: 100%
}
}

@media screen and (max-width:74.9375em) {
.stacked-for-large .top-bar-left, .stacked-for-large .top-bar-right {
	width: 100%
}
}

@media screen and (min-width:0em) and (max-width:39.9375em) {
.top-bar-left, .top-bar-right {
	width: 100%
}
}
.top-bar-left {
	float: left
}
.top-bar-right {
	float: right
}
