.sticky {
	display: block;
}
.site {
	overflow: hidden;
}
.post,
.page {
	margin: 0 0 1.5em;
	p {
		font-size: 14px;
	}
	// h1.entry-title {
	// 	font-size: 30px;
	// }
}
#content {
	position: relative;
	justify-content: flex-end;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	font-size: 14px;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	display: flex;
	flex-flow: row wrap;
	max-width: 1650px;
	margin: 0 auto;
}
.site-main {
	position: absolute;
	width: 66.67%;
	left: 0;
	flex: 1;
	padding-right: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.image-page__logo {
		width: 110px;
	}
	.content-area {
		width: calc(100% - 110px);
		padding-left: 30px;
		nav {
			position: unset;
			bottom: 0;
			left: 0;
			transform: unset;
			margin: 60px 0 0;
		}
	}

	.entry-header {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	.entry-content {
		h1, h2, h3, h4, h5, h6 {
			color: $color_blue;
			margin-bottom: 30px;
		}
		ul {
			// margin-left: 20px;
			list-style: none;
			li {
				display: flex;
			}
			li::before {
				content: "\2022";
				color: $color_blue;
				font-weight: 900;
				display: inline-block;
				margin-right: 15px;
				margin-left: -1em;
			}
		}
		.wp-block-button__link {
			padding: 20px 24px;
			border-radius: 99px;
		}
		.background-button {
			background-color: unset;
			background-repeat: no-repeat;
			min-height: 101px;
			background-size: contain;
			height: auto;
			cursor: pointer;
			p {
				margin: 0;
			}
			a {
				padding: 37px 0;
				color: $color_white;
			}
			a:hover {
				color: $color_white;
			}
		}
		.wp-block-coblocks-accordion-item {
			border: 1px solid $color_blue2;
			cursor: pointer;
			summary {
				background: unset;
				display: list-item;
				// &::marker {
				// 	position: absolute;
				// 	right: 0;
				// 	top: 50%;
				// 	transform: translate(0, -50%);
				// 	color: #fff;
				// 	background: $color_blue2;
				// 	padding: 8px 6px 8px 10px;
				// 	border-radius: 50%;
				// }
				&::-webkit-details-marker {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translate(0, -50%);
					color: #fff;
					background: $color_blue2;
					padding: 8px 6px 8px 10px;
					border-radius: 50%;
				}
			}
			details[open] summary {
				background: #8ed1fc;
				// &::marker {
				// 	padding: 9px 8px 7px 8px;
				// }
				&::-webkit-details-marker {
					padding: 9px 8px 7px 8px;
				}
			}
		}
	}

	.button-bg {
		background-image: url('images/btn_candidate_res_001.png');
		background-position: 0% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		// width: 100%;
		// text-align: center;
		.wp-block-button__link {
			padding: 37px 55px 37px 110px;
			background-color: unset;
		}
		&.dark-blue {
			background-image: url('images/btn_candidate_res_002.png');
		}
	}
	.new-button {
		position: relative;
		height: 100px;
		width: 100%;
		&:before {
			content: '';
			background-image: url('images/Untitled-1.png');
			width: 100px;
			height: 100px;
			background-repeat: no-repeat;
			position: absolute;
			border-radius: 50%;
		}
		.wp-block-button__link {
			padding-left: 110px;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&.dark-blue:before {
			background-image: url('images/Untitled-2.png');
		}
	}

	.single-post & {
		position: unset;
	}
}

.entry-form {
	// margin-bottom: 100px;
	// width: 66.667%;
	// padding-left: 140px;
	// padding-right: 50px;
	padding-top: 70px;
	position: relative;
	// top: -250px;
	.page-id-64.logged-in &,
	.page-id-33.logged-in & {
		.entry-form__header {
			display: none;
		}
	}
	// .page-id-64.logged-in.is-candidate &,
	// .page-id-33.logged-in.is-employer &,
	// .page-id-33.logged-in.is-admin &,
	// .page-id-64.logged-in.is-admin & {
	// 	.entry-form__header {
	// 		display: flex;
	// 	}
	// }
	.entry-form__header {
		text-transform: uppercase;
		background: url('images/forms_header_001001.jpg') #005aab;
		// background-color: #005aab;
		padding: 11px 50px 11px 20px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		img {
			width: 100px;
		}
	}
	.entry-form__body {
		padding: 30px 50px;
		background: #fff;
		opacity: 0.8;
	}
	.entry-form__bluebar {
		background: #009ee7;
		padding: 25px 0;
	}
	.mfp-close {
		color: #fff;
	}

	h3 {
		font-size: 26px;
		color: $color_blue;
	}
	h2 {
		display: none;
	}
	.rwmb-meta-box {
		margin-bottom: 15px;
	}
	.rwmb-label,
	.rwmb-checkbox-wrapper,
	.rwmb-custom_html-wrapper {
		display: none;
	}
	.rwmb-label ~ .rwmb-input {
		width: 100%;
	}
	.rwmb-input input {
		margin: 0;
		max-width: 100%;
		border: 1px solid $color_blue2;
		padding: 10px 20px;
		&::placeholder {
			color: #cbcbcb;
		}
	}
	.checkbox-form ul {
		display: flex;
		flex-flow: row wrap;
		li {
			margin-right: 20px;
		}
		input {
			margin-right: 5px;
		}
		label {
			color: #00a6e9;
		}
	}
	.radio_roles {
		position: absolute;
		top: -95px;
		ul {
			display: flex;
			flex-wrap: wrap;
		}
		li {
			margin-right: 10px;
		}
	}
	.rwmb-radio-wrapper .rwmb-input-list {
		label {
			display: flex;
			align-items: center;
			color: #00a6e9;
			input {
				margin-right: 5px;
			}
		}
	}
	.rwmb-button-wrapper {
		text-align: right;
	}
	.rwmb-button {
		background-color: unset;
		color: $color_blue;
		border: 1px solid $color_blue2;
		text-transform: uppercase;
		font-weight: 700;
		padding: 10px 34px;
	}
	#register-form {
		position: relative;
	}
	#register-form .rwmb-button-wrapper {
		position: absolute;
		bottom: -20px;
		right: 0;
	}
	&.white-popup-block {
		background: #FFF;
		padding: 0;
		text-align: left;
		max-width: 650px;
		margin: 40px auto;
		position: relative;
		top: 0;
		.radio_roles {
			top: 0;
		}
		#register-form {
			padding-top: 40px;
		}
		#register-form .rwmb-button-wrapper {
			bottom: 0;
			position: unset;
		}
	}
	&.white-popup-block#form-signup .entry-form__body {
		padding: 10px 50px 30px;
	}
}

.entry-form__footer {
	background: #fff;
	opacity: 0.8;
	// padding: 30px 50px;
	padding-top: 15px;
	position: relative;
	h3 {
		padding: 0 50px;
	}
	.gform_wrapper {
		.top_label label {
			display: none;
		}
		.gform_body {
			padding: 0 50px;
		}
		.gfield input,
		.gfield textarea {
			border: 1px solid #00a6e9;
			padding: 10px 20px !important;
			&::placeholder {
				color: #cbcbcb;
			}
		}
		.gfield.file-upload {
			position: absolute;
			top: 0;
			left: 50%;
			.ginput_container {
				margin: 0;
			}
			input {
				border: none;
			}
		}
		.gform_footer {
			background: #2199e8;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			cursor: pointer;
			padding: 16px 0;
			input {
				color: #fff;
				font-weight: 700;
				text-transform: uppercase;
				width: 100% !important;
				margin: 0 !important;
				padding: 0;
				&:hover {
					background: #2199e8;
				}
			}
		}
		@media(min-width: 641px) {
			.top_label input.medium,
			.top_label select.medium {
				width: 100%;
			}
		}
	}
}

.entry-form__icon {
	position: absolute;
	left: -140px;
	width: 67px;
}

.entry-access-button {
	background: #2199e8;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	padding: 16px 0;
	a {
		color: $color_white;
	}
}

.background-image {
	background-image: url('images/abstract_pic_blog_002.jpg');
	height: 950px;
	background-repeat: no-repeat;
	background-size: cover;
	.single-post & {
		height: 300px;
	}
}

.accordion-item {
	.wp-block-coblocks-accordion-item__content {
		background: rgba(255,255,255,0.8);
	}
}

.widget-area {
	width: 33.33%;
}

.entry-footer {
	.link-more {
		a {
			color: $color_blue;
			border: 1px solid $color_blue2;
			text-transform: uppercase;
			font-weight: 700;
			padding: 10px 30px;
		}
	}
}
.blog,
.archive {
	// h1.page-title {
	// 	font-size: 30px;
	// }
	.content-area article {
		margin: 60px 0 0;
		&:nth-child(even) .entry-bottom {
			flex-direction: unset;
		}
	}
	article {
		.entry-footer {
			width: 100%;
			text-align: right;
		}
	}
	article .entry-header {
		img {
			display: none;
		}
	}
	h2.entry-title a {
		color: $color_blue;
	}
	.entry-bottom {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		flex-direction: row-reverse;
		.post-thumbnail {
			width: 35%;
			text-align: right;
		}
		.entry-content {
			width: 60%;
			margin: 0;
		}
		h2.entry-title {
			font-size: 30px;
		}
	}
}

@media(max-width: 1600px) {
	.entry-form {
		#register-form .rwmb-button-wrapper {
			position: unset;
		}
	}
	.site-content {
		max-width: 1170px;
	}
}
@media(max-width: 1600px) {
	.site-main .button-bg .wp-block-button__link {
		padding: 37px 30px 37px 85px;
	}
}
@media(max-width: 991px) {
	.site-main,
	.widget-area {
		width: 100%;
		padding: 0 20px;
	}
	.site-main .content-area {
		width: 100%;
		padding: 0;
	}
	.entry-form {
		// width: 100%;
		padding: 0;
		margin-bottom: 0;
		top: 0;
		.entry-form__body,
		&.white-popup-block#form-signup .entry-form__body {
			padding: 10px;
		}
		.rwmb-button-wrapper {
			text-align: left;
		}
		#register-form .rwmb-button-wrapper {
		 	top: 0;
		 	position: unset;
		 	padding: 0;
		}
		.radio_roles {
			top: -62px;
		}
		.rwmb-meta-box {
			margin-bottom: 30px;
		}
	}
	.entry-form__footer {
		padding-top: 10px;
		h3,
		.gform_wrapper .gform_body {
			padding: 0 10px;
		}
		.gform_confirmation_wrapper {
			padding: 10px;
		}
		.gform_wrapper .gform_footer {
			padding: 12px 0;
		}
	}

	.site {
		position: relative;
	}
	.site-main {
		position: unset;
		padding-bottom: 50px;
		.entry-header .entry-title {
			font-size: 50px;
		}
	}
	#content {
		position: unset;
		.widget-area {
			padding-bottom: 100px;
		}
	}
}

@media(max-width: 575px) {
	.site-main .button-bg .wp-block-button__link {
		padding: 37px 30px 37px 110px;
	}
}

@media(max-width: 400px) {
	.site-main .button-bg .wp-block-button__link {
		padding: 37px 30px 37px 85px;
	}
}